/* This will be the main css */
body {
    text-align: center;
}

h1 {
    margin: 35px auto 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    color: green;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: #66BFBF;
    margin-top: 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

table, thead, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

hr {
    border-top: dotted 5px gray;
    border-bottom: none;
    width: 5%;
}

.profile-image {
    border-radius: 100%;
    height: 300px;
}

.table {
    display: grid;
    place-items: center;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }

  .contact-me {
    margin: 50px auto;
  }

  .bottom-container {
    padding: 50px;
    background-color: #66BFBF;
  }

  .footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  .footer-link:hover {
    color: #EAF6F6;
  }

  .copyright {
    color: #EAF6F6;
  }